<div class="toolbar">
  <a
    title="Open repository with project on GitHub"
    href="https://github.com/arturos1111/ready4spractice"
    target="_blank"
  >
    <img width="60" alt="github-logo" src="{{ images + 'github-logo.png' }}" />
  </a>
  <a [routerLink]="[appRoutes.current_rates.path]" routerLinkActive="active">
    <button title="Check curent rates" mat-raised-button>
      Current exchange rates
    </button>
  </a>
  <a [routerLink]="[appRoutes.rates_carousel.path]" routerLinkActive="active">
    <button mat-raised-button>Exchange rates carousel</button>
  </a>
  <a [routerLink]="[appRoutes.historical_data.path]" routerLinkActive="active">
    <button mat-raised-button>Historical data</button>
  </a>
  <div class="spacer"></div>
</div>
